<md-card class="main">
  <md-card-content>
    <h2 id="title">Occupation Overview</h2>
    {{vm.data.occupation.title}}
    in
    {{vm.data.region.title}}
    <br>
    <br>
    <h4 id="title">Occupation Summary for
      {{vm.data.occupation.title}}</h4>
    <md-divider></md-divider>
    <div layout="row">
      <div class="large_info animated fadeInLeft" layout="column" layout-align="center center">
        <h1 class="numbers no_margin">
          <span>{{vm.data.summary.jobs.regional | number: 0}}</span>
        </h1>
        <p class="no_margin small_text_bold">Jobs ({{vm.data.summary.jobs.year}})</p>
        <p class="no_margin small_text">{{vm.average * 100 | number: 0}}%
          <span id="above_below"></span>
          National average</p>
      </div>
      <md-divider></md-divider>
      <div class="large_info animated flash" layout="column" layout-align="center center">
        <h1 class="numbers no_margin" id="change">
          <span id="symbol"></span>{{vm.change}}%
        </h1>
        <p class="no_margin small_text_bold">% Change ({{vm.data.summary.jobs_growth.start_year}}-{{vm.data.summary.jobs_growth.end_year}})</p>
        <p class="no_margin small_text">Nation:
          <span id="change">
            <span id="symbol"></span>
            {{vm.data.summary.jobs_growth.national_avg}}%
          </span>
        </p>
      </div>
      <md-divider></md-divider>
      <div class="large_info animated fadeInRight" layout="column" layout-align="center center">
        <h1 class="numbers no_margin">
          $<span>{{vm.data.summary.earnings.regional}}</span>/hr
        </h1>
        <p class="no_margin small_text_bold">Median Hourly Earnings</p>
        <p class="no_margin small_text">Nation: ${{vm.data.summary.earnings.national_avg | number: 2}}/hr
        </span>
      </p>
    </div>
  </div>
  <md-divider></md-divider>
  <br>
  <br>
  <h4 id="title">Regional Trends</h4>
  <md-divider></md-divider>
  <md-divider></md-divider>
  <div class="line_chart animated fadeInUp">
    <div id="chart"></div>
    <br>
    <div layout class="text_right">
      <div layout layout-align="start center" flex>
        <span class="text_bold margin_left">Region</span>
      </div>
      <div layout layout-align="end center">
        <span class="info_block text_bold">
          {{vm.data.trend_comparison.start_year}}
          Jobs
        </span>
        <span class="info_block text_bold">
          {{vm.data.trend_comparison.end_year}}
          Jobs
        </span>
        <span class="info_block text_bold">
          Change
        </span>
        <span class="info_block text_bold">
          % Change
        </span>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout class="text_right">
      <div layout layout-align="start center" flex>
        <i id="circle" class="fa fa-circle left_indent"></i>
        <span class="left_indent">Region</span>
      </div>
      <div layout layout-align="end center">
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.regional[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.regional[vm.data.trend_comparison.regional.length - 1] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.regional[vm.data.trend_comparison.regional.length - 1] - vm.data.trend_comparison.regional[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{(vm.data.trend_comparison.regional[vm.data.trend_comparison.regional.length - 1] - vm.data.trend_comparison.regional[0]) / vm.data.trend_comparison.regional[0] * 100 | number: 1}}%
        </span>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout class="text_right">
      <div layout layout-align="start center" flex>
        <i id="square" class="fa fa-square left_indent"></i>
        <span class="left_indent">State</span>
      </div>
      <div layout layout-align="end center">
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.state[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.state[vm.data.trend_comparison.state.length - 1] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.state[vm.data.trend_comparison.state.length - 1] - vm.data.trend_comparison.state[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{(vm.data.trend_comparison.state[vm.data.trend_comparison.state.length - 1] - vm.data.trend_comparison.state[0]) / vm.data.trend_comparison.state[0] * 100 | number: 1}}%
        </span>
      </div>
    </div>
    <md-divider></md-divider>
    <div layout class="text_right">
      <div layout layout-align="start center" flex>
        <i id="triangle" class="fa fa-caret-up fa-lg left_indent"></i>
        <span class="left_indent">Nation</span>
      </div>
      <div layout layout-align="end center">
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.nation[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.nation[vm.data.trend_comparison.nation.length - 1] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{vm.data.trend_comparison.nation[vm.data.trend_comparison.nation.length - 1] - vm.data.trend_comparison.nation[0] | number: 0}}
        </span>
        <span class="info_block text_bold numbers">
          {{(vm.data.trend_comparison.nation[vm.data.trend_comparison.nation.length - 1] - vm.data.trend_comparison.nation[0]) / vm.data.trend_comparison.nation[0] * 100 | number: 1}}%
        </span>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
  <br>
  <br>
  <h4 id="title">Industries Employing
    {{vm.data.occupation.title}}</h4>
  <md-divider></md-divider>
  <md-divider></md-divider>
  <br>
  <div layout class="text_right animated fadeInUp">
    <div layout layout-align="start center" flex>
      <span class="text_bold left_indent">Industry</span>
    </div>
    <div layout layout-align="end center">
      <span class="industry_info_block text_bold">
        Occupation Jobs in Industry
        <p class="no_margin">({{vm.data.employing_industries.year}})</p>
      </span>
      <span class="industry_info_block text_bold">
        % of Occupation in Industry
        <p class="no_margin">({{vm.data.employing_industries.year}})</p>
      </span>
      <span class="industry_info_block text_bold">
        % of Total Jobs in Industry
        <p class="no_margin">({{vm.data.employing_industries.year}})</p>
      </span>
    </div>
  </div>
  <br>
  <md-divider></md-divider>
  <div ng-repeat="ind in vm.data.employing_industries.industries">
    <div ng-style="{'width': '{{ind.in_occupation_jobs / vm.data.employing_industries.jobs * 100 | number: 0}}%', 'height' : '39px', 'background-color': '#CAD1FF', 'z-index': '1', 'position': 'absolute'}"></div>
    <div layout class="text_right" ng-style="{'z-index': '2', 'position': 'relative'}">
      <div layout layout-align="start center" flex>
        <span class="text_bold left_indent blue">
          <i class="fa fa-building"></i>
          {{ind.title}}</span>
      </div>
      <div layout layout-align="end center">
        <span class="industry_info_block numbers">{{ind.in_occupation_jobs | number: 0}}</span>
        <span class="industry_info_block numbers">{{ind.in_occupation_jobs / vm.data.employing_industries.jobs * 100 | number: 1}}%</span>
        <span class="industry_info_block numbers">{{ind.in_occupation_jobs / ind.jobs * 100 | number: 1}}%</span>
      </div>
    </div>
    <md-divider></md-divider>
  </div>
</md-card-content>
</md-card>
