<md-card class="input_box" layout layout-align="space-around">
  <div class="input_box_content">
    <form ng-submit="vm.getData()" layout="column">
      <md-input-container>
        <label>Job Title</label>
        <md-select ng-model="vm.requested_data.occupation" required>
          <md-option value="15-1131">
            Computer Programers
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Area Code</label>
        <md-select ng-model="vm.requested_data.area_code" required>
          <md-option value="42660">
            42660
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Size of Area</label>
        <md-select ng-model="vm.requested_data.area_type" required>
          <md-option value="msa">
            MSA
          </md-option>
        </md-select>
      </md-input-container>
      <md-button class="md-raised" type="submit">Show me!</md-button>
    </form>
  </div>
</md-card>
